<!-- <app-example 
  age="27"
  hairColor="black"
></app-example>
<app-example 
  name="Brenda"
  hairColor="Blonde"
></app-example> -->

<!-- <app-people-list></app-people-list> -->

<!-- <app-event-handling></app-event-handling> -->

<!-- <app-multiple-choice
  (a)="doSomething()"
  (b)="doSomethingElse()"
  (c)="doSomething()"
  (d)="doAnotherThing()"
></app-multiple-choice> -->

<!-- <app-congratulations-message *ngIf="count>10"></app-congratulations-message> -->
<!-- <app-congratulations-message [count]="count" [threshold]="threshold"></app-congratulations-message>

<app-counter-button *ngIf="showCounterButton" [count]="count" (buttonClicked)="incrementCount()"></app-counter-button>

<button (click)="toggleCounterButton()">Show/Hide Counter Button</button> -->

<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<div>
  Copyright CaoSiYuan 2021
</div>
